<%- include("header", { header }) %>

<h2>Welcome to <%= universityName %></h2>
<p>This is the home page.</p>

<ol>
    <% students.forEach((student) => { %>
        <li><%= student.name %> - <%= student.dept %></li>
    <% }) %>
</ol>

<%- include("content", { content }) %>
<%- include("footer", { footer }) %>
